{% extends "master.html" %}

{% block content %}

  <div id="wrapper" class="row" style="padding-bottom:20px;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        <a href="/edit_profile" class="list-group-item list-group-item-action">ویرایش پروفایل</a>
        <a href="/change_password" class="list-group-item list-group-item-action active">تغییر رمز عبور</a>
        <a href="/add_credit" class="list-group-item list-group-item-action">اضافه کردن اعتبار</a>
        <a href="/withdraw_credit" class="list-group-item list-group-item-action">برداشت پول از اعتبار</a>
        <a href="/anonymous_transfer" class="list-group-item list-group-item-action">واریز مخفیانهٔ پول</a>
        <a href="/transaction_history" class="list-group-item list-group-item-action">تاریخچهٔ تراکنش‌ها</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
      <form  method="post">
          {% csrf_token %}

        <div class="form-group row">
          <h3 class="col-sm-3">تغییر رمز عبور</h3>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">رمز عبور قبلی</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Password" dir="ltr">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">رمز عبور جدید</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" dir="ltr">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">تکرار رمز عبور جدید</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="new_password_confirmation" name="new_password_confirmation" placeholder="Repeat New Password" dir="ltr">
          </div>
        </div>

        <div style="padding-left: 150px">
          <button type="submit" class="btn btn-primary">ثبت</button>
        </div>

      </form>
    </div>

  </div>

{% endblock content %}
