{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<div class="card" style="width: 24rem;">#}
{#        <form class="form-signin" action = /login method=post>#}
{#          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#          <label for="inputEmail" class="sr-only">Email address</label>#}
{#          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
{#          <label for="inputPassword" class="sr-only">Password</label>#}
{#          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>#}
{#          <div class="checkbox mb-3">#}
{#            <label>#}
{#              <input type="checkbox" value="remember-me"> Remember me#}
{#            </label>#}
{#          </div>#}
{#          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
{#          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>#}
{#        </form>#}
{#        </div>#}
{#</body>#}
{#</html>#}

{% extends "master.html" %}

{% block content %}
    <div class="container p-5" dir="rtl">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-right">برای ورود به سامانه لطفا وارد شوید</div>

                    <div class="card-body">
                        <form method="POST" action="{% url 'login' %}">
{#                            @csrf#}
{#                            @include('Admin.section.errors')#}
                            <div class="form-group row">
                                <label for="username" class="col-sm-4 col-form-label text-md-right">ایمیل</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email"
                                           required autofocus
                                           oninvalid="this.setCustomValidity('لطفا فیلد را وارد کنید')"
                                           oninput="setCustomValidity('')">


                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">رمز عبور</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" required
                                           oninvalid="this.setCustomValidity('لطفا فیلد را وارد کنید')"
                                           oninput="setCustomValidity('')">

{#                                    @if ($errors->has('password'))#}
{#                                    <span class="invalid-feedback">#}
{#</span>#}
{#                                    @endif#}
                                </div>
                            </div>


                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        ورود
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}