<nav class="navbar navbar-expand-lg" style=" background: linear-gradient(to right, #00ffff, #006666);">
{#    @if(auth()->check())#}
{#    #}
{#    @endif#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

{% block master_content %}{% endblock %}

<div class="container-fluid mt-5" style="height: 45px; background: linear-gradient(to right, #00ffff, #006666);">

</div>

