<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<a id="users_activities_btn" name="users_activities_btn" href=""><button type="button">users activities</button></a>
<a id="emp_activities_btn" name="emp_activities_btn" href=""><button type="button">employees activities</button></a>
<a id="admin_history_btn" name="admin_history_btn" href=""><button type="button">my history</button></a>
<a id="financial_account_btn" name="financial_account_btn" href=""><button type="button">financial accpunt details</button></a>


</body>
</html>