<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KIA Homepage</title>
</head>
<body>
    <a id="profile" name="profile" href="/user_profile"><button type="button">profile</button></a>
    <a id="services" name="services" href="/services"><button type="button">services</button></a>
    <a id="logout" name="logout" href=""><button type="button">logout</button></a>

    <a id="toefl" name="toefl" href="/buy_toefl"><button type="button">buy toefl</button></a>
    <a id="ielts" name="ielts" href="/buy_ielts"><button type="button">buy ielts</button></a>
    <a id="iran_air" name="iran_air" href="/buy_iran_air_ticket"><button type="button">buy iran_air ticket</button></a>
</body>
</html>