<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>

    <form action =/payment method=post>
        <div class="col-md-42 mb-3">
            اعتبار فعلی: <input type="text" name=current_credit class=form-control id= current_credit value="اعتبار فعلی" readonly>
        </div>

        <div class="col-md-42 mb-3">
            <input type="number" name=credit class=form-control id= credit placeholder="میزان افزایش اعتبار" required> ریال
        </div>

       <button type=submit class="btn btn-primary", name="registerButton", id="registerButton_id">افزایش اعتبار</button>
    </form>

</body>
</html>