{% extends "master.html" %}

{% block content %}

  <div class="container" align="right">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">درباره
      <small>تیم کیا</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">خانه</a>
      </li>
      <li class="breadcrumb-item active">دربارهٔ ما</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="/static/images/payment.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <h2>دربارهٔ کیا پرداخت</h2>
        <p>همان طور که احتمالا مطلع هستید، سالانه افراد زیادی در کشور نیاز به انجام تراکنش‌های مالی با ارزهای بین‌المللی
          پیدا می‌کنند. به عنوان مثال برای شرکت در آزمون‌های زبان و یا پرداخت هزینه دانشگاه‌های خارج از کشور. متاسفانه
          در سال‌های اخیر به دلیل تحریم‌های صورت گرفته علیه ایران، انجام این گونه تراکنش‌ها بسیار سخت و طاقت‌فرسا شده؛
          به نحوی که باعث می‌شود وقت و انرژی زیادی از افراد هدر برود.</p>
        <p>کیا پرداخت در شهریور ماه سال ۱۳۹۷ و با هدف پاسخ‌گویی به این نیاز هم‌وطنان تاسیس شد. در این جا، همکاران ما
          برای انجام تراکنش‌های ارزی گوناگون می‌توانند به شما کمک کنند. شما تنها کافیست که مبالغ را به ریال پرداخت کرده
          و اطلاعات خود را وارد کنید؛ سایر کارها توسط اعضای تیم ما انجام خواهد شد.</p>
        <p>در کیا پرداخت، آسودگی و اطمینان کاربران همواره اولین هدف ما بوده و در آینده نیز خواهد بود. ما با تلاش
          شبانه‌روزی، سعی در ارائه سرویس‌هایی هر چه با کیفیت‌تر و با استفادهٔ راحت‌تر بوده تا برای شما کاربران گرامی
          کمترین دغدغه و درگیری پیش آید و بتوانید از خرید خود تجربه شیرینی داشته باشید. در صورت داشتن هر گونه سوال،
          انتقاد و یا پیشنهاد، ما را از طریق بخش <a href="contact_us">ارتباط با ما</a> در جریان بگذارید.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>تیم ما</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/aalami.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">محمدحسین اعلمی</h4>
            <h6 class="card-subtitle mb-2 text-muted">مدیر پروژه</h6>
            <p class="card-text">وی دانشجوی ترم ۷ مهندسی کامپیوتر شریف و دارای سابقهٔ بالا در مدیریت پروژه‌های گوناگون در سطح دانشگاه بوده.</p>
          </div>
          <div class="card-footer">
            <a href="#">aalami@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/pak.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">محمدحسین ایرانپاک</h4>
            <h6 class="card-subtitle mb-2 text-muted">دولوپر خفن</h6>
            <p class="card-text">از اعضای اصلی تیم که با تجربهٔ کاری فراوان خود، قسمت‌های مختلف پروژه را بر عهده گرفته است.</p>
          </div>
          <div class="card-footer">
            <a href="#">mh.iranpak1997@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/gar.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">محمدرضا کارگر </h4>
            <h6 class="card-subtitle mb-2 text-muted">دولوپر داغون</h6>
            <p class="card-text">عضو نوب تیم بوده که دانش برنامه‌نویسی وب وی در حد کارگاه کامپیوتر ترم یک است.</p>
          </div>
          <div class="card-footer">
            <a href="#">karegar@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
{#    <h2>مشتری‌های ما</h2>#}
{#    <div class="row">#}
{#      <div class="col-lg-2 col-sm-4 mb-4">#}
{#        <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#      </div>#}
{#      <div class="col-lg-2 col-sm-4 mb-4">#}
{#        <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#      </div>#}
{#      <div class="col-lg-2 col-sm-4 mb-4">#}
{#        <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#      </div>#}
{#      <div class="col-lg-2 col-sm-4 mb-4">#}
{#        <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#      </div>#}
{#      <div class="col-lg-2 col-sm-4 mb-4">#}
{#        <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#      </div>#}
{#      <div class="col-lg-2 col-sm-4 mb-4">#}
{#        <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#      </div>#}
{#    </div>#}
    <!-- /.row -->

  </div>

{% endblock content %}