<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>

<title>ارتباط با ما | کیا پرداخت</title>

{% extends "master.html" %}

{% block content %}
  <div class="container" align="right">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ارتباط
      <small>با ما</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">خانه</a>
      </li>
      <li class="breadcrumb-item active">ارتباط با ما</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div id="mapDiv" class="col-lg-8 mb-4" style="width: 100%; height: 400px"></div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>اطلاعات تماس</h3>
        <p>
          تهران - خیابان آزادی
          <br>دانشگاه صنعتی شریف - دانشکدهٔ مهندسی کامپیوتر
          <br>
        </p>
        <p>
          <b>تلفن</b>: (123) 456-7890
        </p>
        <p>
          <b>پست الکترونیکی</b>:
          <a href="mailto:kiapayment2018@gmail.com">kiapayment2018@gmail.com
          </a>
        </p>
        <p>
          <b>ساعت تماس</b>: شنبه تا پنج‌شنبه صبح تا شب
        </p>
      </div>
    </div>
    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4" align="right">
        <h3>برای ما پیام بفرستید</h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>نام و نام خانوادگی:</label>
              <input type="text" class="form-control" id="name" name="name" required
                     data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>شماره تماس:</label>
              <input type="tel" class="form-control" id="phone" name="phone" required
                     data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>پست الکترونیکی:</label>
              <input type="email" class="form-control" id="email" name="email" required
                     data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>پیام:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" required
                        data-validation-required-message="Please enter your message" maxlength="999"
                        style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">ارسال</button>
        </form>
      </div>

    </div>
    <!-- /.row -->
  </div>

  <script>
    // position we will use later
    var lat = 35.702539;
    var lon = 51.351180;
    // initialize map
    map = L.map('mapDiv').setView([lat, lon], 15.5);
    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(map);
    // add marker to the map
    marker = L.marker([lat, lon]).addTo(map);
    // add popup to the marker
    marker.bindPopup("<b>دانشکدهٔ کامپیوتر</b><br />دانشگاه صنعتی شریف<br />تهران").openPopup();
  </script>
{% endblock content %}