{% extends "master.html" %}

{% block content %}

    <div id="wrapper" class="row">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-3">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">سلام</a>
                </li>
                <li>
                    <a href="#">اسکل‌شدگی</a>
                </li>
                <li>
                    <a href="#">تستستست</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper" class="col-9">
            <div class="row">
                <div class="col-5" dir="ltr">
                    <h1>Hello hello hello</h1>
                    <p>Is there anybody in there?</p>
                    <p>Just nod if you can hear me</p>
                </div>
                <div class="col-4">
                    HIIIIIHI
                </div>
            </div>
        </div>

    </div>

{%  endblock content %}
