{% extends "master.html" %}

{% block content %}

  <div id="wrapper" class="row" style="padding-bottom:20px;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        <a href="/admin/panel" class="list-group-item list-group-item-action">پنل مدیر</a>
        <a href="/admin/restrict_user" class="list-group-item list-group-item-action active">محدود کردن کاربر</a>
        <a href="/admin/remove_user_restriction" class="list-group-item list-group-item-action">رفع محدودیت</a>
        <a href="#" class="list-group-item list-group-item-action ">اضافه کردن اعتبار</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
      <form>
        <div class="form-group row">
          <h3 class="col-sm-2">محدود کردن کاربر</h3>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">نام کاربری</label>
          <div class="col-sm-7">
            <input class="form-control" id="res_username" aria-describedby="emailHelp"
                   placeholder="username" dir="ltr">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"><label for="exampleFormControlTextarea1">پیغام مربوطه</label></div>
          <div class="col-sm-7"><textarea class="form-control" id="restrict_message" rows="3"
                                          placeholder="پیام مورد نظر برای ارسال به کاربر خاطی را اینجا وارد کنید"></textarea>
          </div>

        </div>


        <div style="padding-left: 150px">
          <button type="submit" class="btn btn-primary">ثبت</button>
        </div>

      </form>
    </div>

  </div>

{% endblock content %}
