{% extends "master.html" %}

{% block content %}

  <div id="wrapper" class="row" style="padding-bottom:20px;">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        <a href="/admin/panel" class="list-group-item list-group-item-action">پنل مدیر</a>
{#        <a href="/admin/users_activities" class="list-group-item list-group-item-action">فعالیت کاربران</a>#}
{#        <a href="/admin/employees_activities" class="list-group-item list-group-item-action">فعالیت کارمندان</a>#}
        <a href="/admin/activities" class="list-group-item list-group-item-action">فعالیت‌ها</a>
        <a href="/admin/my_history" class="list-group-item list-group-item-action">سابقهٔ من</a>
        <a href="/admin/financial_account_details" class="list-group-item list-group-item-action">جزئیات حساب مالی</a>

        <a href="/admin/restrict_user" class="list-group-item list-group-item-action active">محدود کردن کاربر</a>
        <a href="/admin/remove_user_restriction" class="list-group-item list-group-item-action">رفع محدودیت</a>
        <a href="/admin/add_system_credit" class="list-group-item list-group-item-action ">اضافه کردن اعتبار</a>
        <a href="/create_service" class="list-group-item list-group-item-action">اضافه کردن تراکنش</a>
        <a href="/admin/services" class="list-group-item list-group-item-action">مشاهده و بررسی سرویس‌ها</a>
        <a href="/admin/add_user" class="list-group-item list-group-item-action">اضافه کردن کاربر</a>
      </div>
    </div>

    <div id="page-content" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
        {% if errors %}
                <div id="custom_errors" style="background: #ffcccc;">
                    <div class="inner">
                        <ul>
                            {% for key, value in errors.items %}
                                <p>خطاهای زیر پیش آمده:</p>
                                <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endif %}
      <form method="post">
          {% csrf_token %}

        <div class="form-group row">
          <h3 class="col-sm-2">محدود کردن کاربر</h3>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">نام کاربری</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="res_username" name="res_username" aria-describedby="emailHelp"
                   placeholder="username" dir="ltr">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"><label for="exampleFormControlTextarea1">پیغام مربوطه</label></div>
          <div class="col-sm-7"><textarea class="form-control" id="restrict_message" name="restrict_message" rows="3"
                                          placeholder="پیام مورد نظر برای ارسال به کاربر خاطی را اینجا وارد کنید"></textarea>
          </div>

        </div>


        <div style="padding-left: 150px">
          <button type="submit" class="btn btn-primary" id="submit_button" name="submit_button" onclick="restrictionDone()">ثبت</button>
        </div>

      </form>

    </div>

  </div>

  {#  <h1>با موفقیت انجام شد</h1>\n\n" +#}
  {#          "  <button type="submit" class="btn btn-primary" onclick="turnBack()">بازگشت</button>#}

  <script>
      var regular = "<form>\n" +
          "        <div class=\"form-group row\">\n" +
          "          <h3 class=\"col-sm-2\">محدود کردن کاربر</h3>\n" +
          "          <div class=\"col-sm-7\">\n" +
          "            <input type=\"text\" readonly class=\"form-control-plaintext\" id=\"staticEmail\" value=\"\">\n" +
          "          </div>\n" +
          "        </div>\n" +
          "\n" +
          "        <div class=\"form-group row\">\n" +
          "          <label for=\"inputName\" class=\"col-sm-2 col-form-label\">نام کاربری</label>\n" +
          "          <div class=\"col-sm-7\">\n" +
          "            <input class=\"form-control\" id=\"res_username\" aria-describedby=\"emailHelp\"\n" +
          "                   placeholder=\"username\" dir=\"ltr\">\n" +
          "          </div>\n" +
          "        </div>\n" +
          "        <div class=\"form-group row\">\n" +
          "          <div class=\"col-sm-2\"><label for=\"exampleFormControlTextarea1\">پیغام مربوطه</label></div>\n" +
          "          <div class=\"col-sm-7\"><textarea class=\"form-control\" id=\"restrict_message\" rows=\"3\"\n" +
          "                                          placeholder=\"پیام مورد نظر برای ارسال به کاربر خاطی را اینجا وارد کنید\"></textarea>\n" +
          "          </div>\n" +
          "\n" +
          "        </div>\n" +
          "\n" +
          "\n" +
          "        <div style=\"padding-left: 150px\">\n" +
          "          <button type=\"submit\" class=\"btn btn-primary\" onclick=\"restrictionDone()\">ثبت</button>\n" +
          "        </div>\n" +
          "\n" +
          "      </form>";
      var done = "<h1>با موفقیت انجام شد</h1>\n\n" +
          "  <button type=\"submit\" class=\"btn btn-primary\" onclick=\"turnBack()\">بازگشت</button>";

      {#document.onload = function () {#}
      {#    document.getElementById("page-content").innerHTML = regular;#}
      {
          #};
          #}

          function restrictionDone() {
              document.getElementById("page-content").innerHTML = done;
          }

          function turnBack() {
              document.getElementById("page-content").innerHTML = regular;
          }
  </script>
{% endblock content %}
