<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<body>
    <ul>
        <li>نام خدمت: {{ transaction.service.name }}</li>
        <li>نام کاربر: {{ transaction.user }}</li>
        <li>وضعیت درخواست: {{ transaction.get_state_display }}</li>
        <li>اطلاعات درخواست:
            {% for key, values in data.items %}
                <ul>
                    <li>{{ key }} : {{ values }}</li>
                </ul>
            {% endfor %}
        </li>
    </ul>
    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if transaction.assigned_emp == user%}
            <input type="submit" name="finish" value="اتمام درخواست">
            <input type="submit" name="report" value="گزارش مورد مشکوک">
        {% elif transaction.assigned_emp == null %}
            <input type="submit" name="take" value="انتخاب درخواست">
        {% endif %}
    </form>
</body>
</html>