{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <title>Title</title>#}
{#</head>#}
{#<body>#}
{#{% if authenticated %}#}
{#  <form action="" method="post" novalidate>#}
{#    <table>#}
{#      {{ form.as_table }}#}
{#    </table>#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Submit">#}
{#  </form>#}
{#{% else %}#}
{#  <p>You must login to see the form!</p>#}
{#{% endif %}#}
{#</body>#}
{#</html>#}


{% extends "master.html" %}

{% block content %}

  <div id="wrapper" class="row" style="padding-bottom:20px;">
    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
      {% if authenticated %}
        <form action="" method="post" novalidate>
          {% csrf_token %}

          <div class="form-group row">
            <h3 class="col-sm-2">خرید سرویس {{ label }}</h3>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
            </div>
          </div>

          {#          <table>#}
          {#            {{ form.as_table }}#}
          {#          </table>#}

          {% for item in form %}
            {#            {{ item.label_tag }}{{ item }}#}
            <div class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right">
                {{ item.label_tag }}
              </div>
              <div class="col-md-6">
                {{ item }}
              </div>
            </div>
          {% endfor %}

          <div style="padding-left: 150px">
            <input type="submit" value="تایید" class="btn btn-primary">
{#            <button type="submit" class="btn btn-primary">خرید</button>#}
          </div>

        </form>
      {% else %}
        <p>You must login to see the form!</p>
      {% endif %}


    </div>

  </div>

{% endblock content %}
