{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>service list</title>#}
{#</head>#}
{#<body>#}
{#    <h1>سرویس‌های موجود در سایت</h1>#}
{#     {% if services %}#}
{#      <ul>#}
{#        {% for service in services %}#}
{#          <li>#}
{#            <a href="{{ service.name }}">{{ service.label }}</a>)#}
{#          </li>#}
{#        {% endfor %}#}
{#      </ul>#}
{#      {% else %}#}
{#        <p>خدمت نداریم :(</p>#}
{#      {% endif %}#}
{#</body>#}
{#</html>#}


{% extends "master.html" %}

{% block content %}


  <div id="wrapper" class="row" style="padding-bottom:20px;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        <a href="/admin/panel" class="list-group-item list-group-item-action">پنل مدیر</a>
{#        <a href="/admin/users_activities" class="list-group-item list-group-item-action">فعالیت کاربران</a>#}
{#        <a href="/admin/employees_activities" class="list-group-item list-group-item-action">فعالیت کارمندان</a>#}
        <a href="/admin/activities" class="list-group-item list-group-item-action">فعالیت‌ها</a>
        <a href="/admin/my_history" class="list-group-item list-group-item-action">سابقهٔ من</a>
        <a href="/admin/financial_account_details" class="list-group-item list-group-item-action">جزئیات حساب مالی</a>

        <a href="/admin/restrict_user" class="list-group-item list-group-item-action">محدود کردن کاربر</a>
        <a href="/admin/remove_user_restriction" class="list-group-item list-group-item-action">رفع محدودیت</a>
        <a href="/admin/add_system_credit" class="list-group-item list-group-item-action">اضافه کردن اعتبار</a>
        <a href="/create_service" class="list-group-item list-group-item-action">اضافه کردن تراکنش</a>
        <a href="/admin/services" class="list-group-item list-group-item-action active">مشاهده و بررسی سرویس‌ها</a>
        <a href="/admin/add_user" class="list-group-item list-group-item-action">اضافه کردن کاربر</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px"
         align="right">

      {% if services %}
        {% for service in services %}
          {% if forloop.counter0|divisibleby:2 %}
            <div class="row" align="center">
          {% endif %}

        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <h4 class="card-header">{{ service.name }}</h4>
            <div class="card-body">
              <p class="card-text">{{ service.details }}</p>
            </div>
            <div class="card-footer">
              <a href="{{ service.name }}" class="btn btn-primary">بررسی</a>
            </div>
          </div>
        </div>

        {% if forloop.counter0|add:1|divisibleby:2 or forloop.counter == services|length %}
          </div>
        {% endif %}

        {% endfor %}
      {% else %}
        <h1>سرویسی وجود ندارد</h1>
      {% endif %}


    </div>

  </div>


  <!-- Page Content -->
{% endblock content %}