{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<!-- این‌جا لازمه یه توضیحاتی بدیم درباره نحوه پر کردن فرم، به خصوص اون بخش ولیوها#}
{#-->#}
{#    <form action="" method="post" novalidate>#}
{#        <table>#}
{#            {{ form.as_table }}#}
{#        </table>#}
{#        {% csrf_token %}#}
{#        <input type="submit" name="cont" value="ادامه ساخت خدمت">#}
{#        <input type="submit" name="finish" value="پایان ساخت خدمت">#}
{#    </form>#}
{#</body>#}
{#</html>#}


<head>
  <style>
    #id_name {
      direction: ltr;
    }
    #id_args {
      direction: ltr;
    }
  </style>
</head>

{% extends "master.html" %}

{% block content %}

  <div id="wrapper" class="row" style="padding-bottom:20px;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        <a href="/admin/panel" class="list-group-item list-group-item-action">پنل مدیر</a>
        {#        <a href="/admin/users_activities" class="list-group-item list-group-item-action">فعالیت کاربران</a>#}
        {#        <a href="/admin/employees_activities" class="list-group-item list-group-item-action">فعالیت کارمندان</a>#}
        <a href="/admin/activities" class="list-group-item list-group-item-action">فعالیت‌ها</a>
        <a href="/admin/my_history" class="list-group-item list-group-item-action">سابقهٔ من</a>
        <a href="/admin/financial_account_details" class="list-group-item list-group-item-action">جزئیات حساب مالی</a>

        <a href="/admin/restrict_user" class="list-group-item list-group-item-action">محدود کردن کاربر</a>
        <a href="/admin/remove_user_restriction" class="list-group-item list-group-item-action">رفع محدودیت</a>
        <a href="/admin/add_system_credit" class="list-group-item list-group-item-action">اضافه کردن اعتبار</a>
        {#        <a href="/admin/add_transaction" class="list-group-item list-group-item-action active">اضافه کردن تراکنش</a>#}
        <a href="/create_service" class="list-group-item list-group-item-action active">اضافه کردن تراکنش</a>
        <a href="/admin/services" class="list-group-item list-group-item-action">مشاهده و بررسی سرویس‌ها</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">

    {% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
    {% endif %}

      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
          </div>
        </div>

        <div style="padding-left: 150px">
          <input type="submit" name="finish" class="btn btn-primary" value="پایان عملیات">
        </div>
      </form>

      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <h3 class="col-sm-2">ادامهٔ اضافه کردن تراکنش جدید</h3>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="">
          </div>
        </div>

        {% for item in form %}
          {#                        {{ item.label_tag }}{{ item }}#}
          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right">
              {{ item.label_tag }}
            </div>
            <div class="col-md-6">
              {{ item }}
            </div>
          </div>
        {% endfor %}


        <div style="padding-left: 150px">
          <input type="submit" name="cont" class="btn btn-primary" value="ادامه عملیات">
{#          <input type="submit" name="finish" class="btn btn-primary" value="پایان ساخت خدمت">#}
        </div>

      </form>
    </div>

  </div>

  <script>
      document.getElementById("id_args").value = "{\n\"val\": \"\"\n}"
  </script>
{% endblock content %}