{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <title>Title</title>#}
{#</head>#}
{#<body>#}
{#{% if authenticated %}#}
{#  <form action="" method="post" novalidate>#}
{#    <table>#}
{#      {{ form.as_table }}#}
{#    </table>#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Submit">#}
{#  </form>#}
{#{% else %}#}
{#  <p>You must login to see the form!</p>#}
{#{% endif %}#}
{#</body>#}
{#</html>#}


{% extends "master.html" %}

{% block content %}
  <div class="container" align="right">
    <div align="right">
      <h1 class="mt-4 mb-3">خرید سرویس
        <small>{{ service.label }}</small>
      </h1>
    </div>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">خانه</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="/services">سرویس‌ها</a>
      </li>
      <li class="breadcrumb-item active">خرید سرویس</li>
    </ol>

    <div id="wrapper" class="row" style="padding-bottom:20px;">
      <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
        {% if authenticated %}

          {% if form.errors %}
            <!-- Error messaging -->
            <div id="errors">
              <div class="inner">
                <p>There were some errors in the information you entered. Please correct the following:</p>
                {{ form.non_field_errors }}
                <ul>
                  {% for field in form %}
                    {% if field.errors %}
                      <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /Error messaging -->
          {% endif %}

          {% if error %}
            <p style="color: red;">
              {{ error }}
            </p>
          {% endif %}

          <form action="" method="post">
            {% csrf_token %}

            {#            <div class="form-group row" align="right">#}
            {#              <h3 class="col-sm-5">خرید سرویس {{ service.label }}</h3>#}
            {#            </div>#}


            <div class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right">
                توضیحات
              </div>
              <div class="col-md-6">
                {{ service.details }}
              </div>
            </div>


            <div class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right">
                نوع ارز
              </div>
              <div class="col-md-6">
                {{ service.get_currency_display }}
              </div>
            </div>

            {% if not service.variable_price %}
              <div class="form-group row" name="variable">
                <div class="col-sm-4 col-form-label text-md-right">
                  هزینه خدمت
                </div>
                <div class="col-md-6" id="price">
                  {{ service.price }}
                </div>
              </div>
            {% endif %}

            <div class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right">
                درصد کارمزد خدمت
              </div>
              <div class="col-md-6" id="commission">
                {{ service.commission }}
              </div>
            </div>

            {% for item in form %}
              {#            {{ item.label_tag }}{{ item }}#}
              <div class="form-group row">
                <div class="col-sm-4 col-form-label text-md-right">
                  {{ item.label_tag }}
                </div>
                <div class="col-md-6">
                  {{ item }}
                </div>
              </div>
            {% endfor %}

            <div class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right">
                هزینه تمام‌شده خدمت
              </div>
              <div class="col-md-6" id="final_price">
                {#                {{ service.price }} * {{ currency }} * (1 + {{ service.commission }})#}
              </div>
            </div>
            <div style="padding-left: 150px">
              <button type="submit" class="btn btn-primary">تایید</button>
              {#              <input type="submit" value="تایید" class="btn btn-primary">#}
              <button type="button" onclick="javascript:history.back()" class="btn btn-primary">
                بازگشت
              </button>
              {#            <button type="submit" class="btn btn-primary">خرید</button>#}
            </div>

          </form>
        {% else %}
          <p>You must login to see the form!</p>
        {% endif %}


      </div>

    </div>
  </div>

  <script src="/static/Translator.js"></script>
  <script src="/static/MakeInputsCute.js"></script>
  <script>

      let commission = parseInt(document.getElementById('commission').innerText);
      let currency = {{ currency }};

      if (document.getElementsByName("variable").length > 0) { // not variable
          document.getElementById('final_price').innerText =
              Math.round(parseInt(document.getElementById('price').innerText)
                  * currency * (1 + commission / 100));
      } else {
          document.getElementById('final_price').innerText = 0;
      }

      window.onchange = function () {
          document.onchange = function () {
              let commission = parseInt(document.getElementById('commission').innerText);
              let currency = {{ currency }};

              if (document.getElementsByName("variable").length > 0) { // not variable
                  document.getElementById('final_price').innerText =
                      Math.round(parseInt(document.getElementById('price').innerText)
                          * currency * (1 + commission / 100));
              }
          };

      };
      window.onload = function () {
          document.getElementById("id_price").onchange = function () {
              document.getElementById('final_price').innerText =
                  Math.round(parseInt(document.getElementById('id_price').value)
                      * currency * (1 + commission / 100));
          };
      };
  </script>
{% endblock content %}
