<form action = /contact_us method=post>
  <div class="col-md-42 mb-3">
    <textarea rows="12" cols="50" name="ticketBox" id="ticket">
    </textarea>
  </div>
  <div class="col-md-42 mb-3">
    <input type=text name=firstName class=form-control id=f_name aria-describedby=emailHelp placeholder="نام" required>
  </div>
  <div class="col-md-42 mb-3">
    <input type=text name=lastName class=form-control id=l_name placeholder="نام خانوداگی" required>
  </div>
  <div class="col-md-42 mb-3">
    <input type=email name=email class=form-control id=email placeholder="آدرس ایمیل" required>
  </div>
    <button type=submit name="sendButton", id="sendButton_id" class="btn btn-primary">ارسال</button>
</form>