<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = /admin/restrict_user/result method=post>
  <div class="col-md-42 mb-3">
    <label for=username></label>
    <input type=text name=username class=form-control id=username placeholder="شناسه کاربر" required>
  </div>
  <div class="col-md-42 mb-3">
    <label for=message></label>
    <input type=text name=message class=form-control id=message placeholder="پیام قطع دسترسی" required>
  </div>
    <button type=submit class="btn btn-primary", name="submit_button", id="submit_button">انجام</button>
</form>
</body>
</html>
